body {
  background: #f3f3f3;
  position: relative;
}

/**
* Persona Header / Navigation
**/
.persona-header {
  overflow: visible;
  background-color: #ffffff !important;
  box-shadow: 0 3px 2px rgba(0,0,0,0.1) !important;
}

  .persona-header .material-icons {
    color: #767777 !important; /* Keep this !important */
  }

  .persona-header .mdl-layout__drawer-button {
    background: transparent !important;
    color: #767777 !important;
    line-height: 52px;
  }

  .persona-header .mdl-navigation__link {
    color: #767777 !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    text-transform: uppercase;
  }

/* Navigation */
.persona-navigation .mdl-navigation__link {
    display: inline-block !important;
    height: 60px !important;
    line-height: 68px !important;
    background-color: transparent !important; /*Keep this !important*/
    border-bottom: 4px solid transparent !important;
  }

    .persona-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid #00bcd4 !important;
    }

/* Title */
.persona-title {
  color: #767777 !important;
}

/**
* Persona Card Grid / Cards
**/
.persona-card-grid {
  padding: 30px 0 !important;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

/* Cards */
  .persona-card-wide.mdl-card {
    width: 360px;
  }

    .persona-card-wide > .mdl-card__title {
      color: #fff;
      height: 200px;
      background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
      background-color: #00bcd4;
    }

    .persona-card-wide > .mdl-card__menu {
      color: #fff;
    }

