<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  
      <link rel="stylesheet" href="/static/css/style.css">

  
</head>

<body>

  <html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{{title}}</title>
    <!-- Material Design Lite -->
    <script src="https://code.getmdl.io/1.2.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
    <!-- Roboto Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <!-- Layout Wrapper -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      
      <header class="persona-header mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="persona-title mdl-layout-title">{{title}}</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <!--
          <nav class="persona-navigation mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="">Link</a>
          </nav>
          -->
          
          <!-- Ellipses -->
          <button id="demo-menu-lower-right"
                  class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">more_vert</i>
          </button>

          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
              for="demo-menu-lower-right">
            <li class="mdl-menu__item">Log Out</li>
          </ul>
        </div>
      </header>
      
      <!-- Drawer -->
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{menu_title}}</span>
        <nav class="mdl-navigation">
            {% for m in menu %}
          <a class="mdl-navigation__link" href="{{m["url"]}}">{{m["title"]}}</a>
             {% endfor %}
        </nav>
      </div><!-- /Drawer -->
      
      <!-- Content -->
      <main class="mdl-layout__content">

{% block content %}
{% endblock %}

      </main><!-- /Content -->
      
    </div><!-- /Layout Wrapper -->
  </body>
</html>
</body>

</html>
